/*****************	
* SERVICES BAR *
*****************/
.services__bar{
    width: 100%;
    height: 8rem;
    padding: 0 2rem;
    margin-bottom: 0rem;
    background-color: var(--primary-black);
    font-size: 2rem;
    color: var(--primary-white);
    position: relative;
}
.services__bar__ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.services__bar__ul li{
    width: 25%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    text-align: center;
}
.link__active{
    background-color: var(--primary-white);
    color: var(--primary-black);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
/*****************
* HOVER EFFECTS *
*****************/
.services__bar__ul li:hover{
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.services__bar__ul li:hover a{
    color: var(--primary-black);
}

/*****************
* TABLET QUERIES *
*****************/
@media screen and (max-width: 900px) and (min-width: 601px){
     /* SERVICES BAR */
     .services__bar{
        height: 10rem;
        padding: 2rem;
    }
}

/*****************
* MOBILE QUERIES *
*****************/
@media screen and (max-width: 600px){
     /* SERVICES BAR */
     .services__bar{
        height: max-content;
        padding: 2rem;
    }
    .services__bar__ul{
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
    .services__bar__ul li{
        width: 100%;
        height: 5rem;
        display: grid;
        place-items: center;
        cursor: pointer;
    }
}