.services__buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.services__buttons span{
    font-size: 2rem;
    font-family: var(--font-secondary);
}


/***********************
* MOBILE QUERIES *
***********************/
@media screen and (max-width:600px){
    .services__buttons{
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }
}